@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset some default styles */
html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
  scroll-behavior: smooth;
}

/* Center the content horizontally */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-color: #0f0f0f;
  min-height: 100vh;
  color: #fff;
}

/* Header styles */
header {
  width: 100%;
  padding: 20px;
  background-color: #242424;
  color: #fff;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 30px;
}

.logo img {
  margin-right: 15px;
  border-radius: 8px;
}

.pages h2 {
  margin: 0;
  text-transform: uppercase;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 100;
}

.pages .menu {
  display: none;
}

/* Main styles */
main {
  flex: 1;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro,
.heading {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
}

.author {
  font-size: 25px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.main-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  max-width: 1000px;
}

.card {
  width: 275px;
  height: 225px;
  padding: 20px;
  border: 1px solid #353535;
  border-radius: 8px;
  background-color: #242424;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#questions p,
#notes p {
  margin-top: 27px;
}

.card:hover {
  background-color: #353535;
}

.about-desc {
  text-align: justify;
  line-height: 1.6;
}

.para {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.syllabus-cards,
.content-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1500px;
}

.sCard {
  width: 275px;
  height: 225px;
  border: 1px solid #353535;
  border-radius: 8px;
  background-color: #242424;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.sCard p {
  margin-top: 25px;
}
.sCard:hover {
  background-color: #353535;
}

.cCard {
  text-align: center;
  width: 300px;
  height: 100px;
  padding: 20px;
  border: 1px solid #353535;
  border-radius: 8px;
  background-color: #242424;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer styles */
footer {
  width: 100%;
  padding: 20px;
  background-color: #242424;
  color: #fff;
  text-align: center;
}
