/* Add a media query for mobile devices with a maximum width of 767px */
@media (max-width: 768px) {
  header,
  footer {
    margin: 10px 10px;
    width: 90vw;
  }

  .subject-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 0px 10px 0px;
  }

  .modal-content {
    width: 75%;
  }

  .intro {
    font-size: 40px;
  }

  .intro p {
    font-size: 30px;
  }

  .card-collection p {
    font-size: 25px;
  }

  .logo a {
    font-size: 25px;
  }

  .bar .about {
    font-size: 20px;
  }

  footer p {
    font-size: 20px;
  }

  .cards {
    margin-bottom: 10px;
  }
  .cards p {
    font-size: 25px;
    margin: 0;
  }

  .semester-icon {
    margin: 0;
  }

  .subject-cards {
    font-size: 20px;
  }
}
